

<div class="text-center">
    <h1 class="display-4">Welcome to The Wealthy Blog</h1> <br>
    <h2 class="display-6">Registrando seus avanços financeiros!!!</h2>

    <div class="alert alert-info show" id="connectionstatus"></div>

    <hr />
    <div class="entry-list card-columns" id="entrylist"></div>
    <script id="entry-card" type="text/template">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{Entry.Id}} - {{Entry.Description}}</h5>
                <p class="cardtext"> Category: {{Entry.Category}} - {{Entry.CategoryDescription}}</p>
                <p class="cardtext"> Data: {{Entry.Date}}</p>
                <p class="cardtext"> Entry {{Entry.Value}}</p>
                <p class="cardtext"> Amount {{Entry.Total}} </p>
            </div>
        </div>
    </script>
    <div class="center">
        <button class="btn btn-primary" onclick="pageEvents.loadMoreEntries();">ver mais</button>
        <br /><br />
    </div>
    
    <script id="entry-content-not-found" type="text/template">
        <h1>
            Ups, lançamento não está no Cache!
        </h1>
        <div>
            Você quer que a gente continue tentando fazer download do lançamento em plano de fundo e te avise quando estiver disponível?
        </div>
        <br />
        <button class="btn btn-primary download-start" onclick="pageEvents.setBackgroundFetch('{{Link}}');">
            Sim!
        </button>
        <br />
        <br />
        <div id="status-download" style="display:none;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:0%"></div>
            </div>
            <div class="text-success">
                <p>pronto!</p>
                <button class="btn btn-success"
                        onclick="pageEvents.loadEntry('{{Link}}');">
                    ler!
                </button>
            </div>
        </div>
    </script>

    @* <hr />

    <div class="blog-list card-columns" id="bloglist"></div>
    <script id="blog-card" type="text/template">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{PostId}} - {{Title}}</h5>
                <p class="cardtext">{{ShortDescription}}</p>
                <button onclick="pageEvents.loadBlogPost('{{Link}}');" class="btn btn-primary">ir</button>
            </div>
        </div>
    </script>
    <div class="center">
        <button class="btn btn-primary" onclick="pageEvents.loadMoreBlogPosts();">ver mais</button>
        <br /><br />
    </div>
 *@
    @* <hr />

    <div id="blog-item-container"></div>
    <script id="blog-item" type="text/template">
        <div id="{{Link}}" class="blog-item">
            {{Content}}
        </div>
        <a href="#blog-title" class="btn btnprimary">voltar</a>
    </script>

    <script id="blog-content-not-found" type="text/template">
        <h1> Ups, artigo não está no Cache! </h1>
        <div> Você quer que a gente continue tentando fazer download do artigo em plano de fundo e te avise quando estiver disponível?  </div>
        <br />
        <button class="btn btn-success">Sim!</button>
    </script> 

    <script id="blog-content-not-found" type="text/template">
        <h1>
            Ups, artigo não está no Cache!
        </h1>
        <div>
            Você quer que a gente continue tentando fazer download do
            artigo
            em plano de fundo e te avise quando estiver disponível?
        </div>
        <br />
        <button class="btn btn-primary download-start"
                onclick="pageEvents.setBackgroundFetch('{{Link}}');">
            Sim!
        </button>
        <br />
        <br />
        <div id="status-download" style="display:none;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:0%"></div>
            </div>
            <div class="text-success">
                <p>pronto!</p>
                <button class="btn btn-success"
                        onclick="pageEvents.loadBlogPost('{{Link}}');">
                    ler!
                </button>
            </div>
        </div>
    </script>

    *@

</div>
